<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quản lý công việc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <script src="/bootstrap/jquery.min.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/vue/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/card.css">
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <!-- Masthead -->
            <header class="masthead">

                <!-- <div class="boards-menu">

            <button class="boards-btn btn"><i class="fab fa-trello boards-btn-icon"></i>Home</button>

            <div class="board-search">
                <input type="search" class="board-search-input" aria-label="Board Search">
                <i class="fas fa-search search-icon" aria-hidden="true"></i>
            </div>

        </div> -->

                <div class="logo">

                    <h2>Header</h2>

                </div>

                <!-- <div class="user-settings">

            <button class="user-settings-btn btn" aria-label="Create">
                <i class="fas fa-plus" aria-hidden="true"></i>
            </button>

            <button class="user-settings-btn btn" aria-label="Information">
                <i class="fas fa-info-circle" aria-hidden="true"></i>
            </button>

            <button class="user-settings-btn btn" aria-label="Notifications">
                <i class="fas fa-bell" aria-hidden="true"></i>
            </button>

            <button class="user-settings-btn btn" aria-label="User Settings">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
            </button>

        </div> -->

            </header>
            <!-- End of masthead -->


            <!-- Board info bar -->
            <section class="board-info-bar">

                <div class="board-controls">

                    <div class="board-title text-center">
                        <h5 class="text-center mt-1">Cuộc họp Giao ban - 23/1</h5>
                    </div>

                    <div class="board-search">
                        <input type="search" class="board-search-input" aria-label="Board Search">
                        <i class="fas fa-search search-icon" aria-hidden="true"></i>
                    </div>

                </div>

                <button class="menu-btn btn"><i class="fas fa-ellipsis-h menu-btn-icon"
                        aria-hidden="true"></i>Menu</button>

            </section>
            <!-- End of board info bar -->

            <!-- Lists container -->
            <section class="lists-container">

                <div class="list">

                    <p class="list-title">Cần làm</p>

                    <ul class="list-items">
                        <li>
                            <div class="card" style="width:auto;">
                                <!-- <img class="card-img-top" src="/img/anh1.jpg" alt="Card image" style="width:100%"> -->
                                <div class="card-body card-body-center">
                                    <div class="row">
                                        <div class="col-10">
                                            <p>Code UI</p>
                                        </div>
                                        <div class="col-2 pl-0 d-flex justify-content-center">
                                            <div class="colorCard" style="background-color: #4464ce;">
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="modal" data-target="#workPopup" data-id="myId" class="stretched-link"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width:auto;">
                                <div class="card-body card-body-center">
                                    <div class="row">
                                        <div class="col-10">
                                            <p>Tìm hiểu UX</p>
                                        </div>
                                        <div class="col-2 pl-0 d-flex justify-content-center">
                                            <div class="colorCard" style="background-color: #00ff73;">
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="modal" data-target="#workPopup" data-id="myId" class="stretched-link"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width:auto;">
                                <!-- <img class="card-img-top" src="/img/anh1.jpg" alt="Card image" style="width:100%"> -->
                                <div class="card-body card-body-center">
                                    <div class="row">
                                        <div class="col-10">
                                            <p>Code UI P2</p>
                                        </div>
                                        <div class="col-2 pl-0 d-flex justify-content-center">
                                            <div class="colorCard" style="background-color: #cf8e00;">
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="modal" data-target="#workPopup" data-id="myId" class="stretched-link"></a>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <button class="add-card-btn btn" @click="addNewCard()"> + Thêm thẻ mới</button>

                </div>

                <div class="list">

                    <h3 class="list-title">Đang thực hiện</h3>

                    <ul class="list-items">
                        <li>
                            <div class="card" style="width:auto;">
                                <div class="card-body card-body-center">
                                    <div class="row">
                                        <div class="col-10">
                                            <p>Design flex cho bảng</p>
                                        </div>
                                        <div class="col-2 pl-0 d-flex justify-content-center">
                                            <div class="colorCard" style="background-color: #ff002b;">
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="modal" data-target="#workPopup" data-id="myId" class="stretched-link"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width:auto;">
                                <div class="card-body card-body-center">
                                    <p></p>
                                    <div class="row">
                                        <div class="col-10">
                                            <p>Design flex cho cột</p>
                                        </div>
                                        <div class="col-2 pl-0 d-flex justify-content-center">
                                            <div class="colorCard" style="background-color: #f2ff40;">
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="modal" data-target="#workPopup" data-id="myId" class="stretched-link"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width:auto;">
                                <div class="card-body card-body-center">
                                    <p>Design flex cho thẻ</p>
                                    <a data-toggle="modal" data-target="#workPopup" data-id="myId" class="stretched-link"></a>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <button class="add-card-btn btn" @click="addNewCard()"> + Thêm thẻ mới</button>

                </div>

                <div class="list">

                    <h3 class="list-title">Hoàn thành</h3>

                    <ul class="list-items">
                        <li>
                            <div class="card" style="width:auto;">
                                <!-- <img class="card-img-top" src="/img/anh1.jpg" alt="Card image" style="width:100%"> -->
                                <div class="card-body card-body-center">
                                    <p>Tìm hiểu Kanban</p>
                                    <a data-toggle="modal" data-target="#workPopup" data-id="myId" class="stretched-link"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width:auto;">
                                <div class="card-body card-body-center">
                                    <p>Nhận danh sách API</p>
                                    <a data-toggle="modal" data-target="#workPopup" data-id="myId" class="stretched-link"></a>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <button class="add-card-btn btn" @click="addNewCard()"> + Thêm thẻ mới</button>

                </div>

                <div class="list">

                    <h3 class="list-title">Công việc 1</h3>

                    <ul class="list-items">
                        <li>Code Academy</li>
                        <li>CodePen</li>
                        <li>Codrops</li>
                        <li>CSS-Tricks</li>
                        <li>Free Code Camp</li>
                        <li>Khan Academy</li>
                        <li>Lynda</li>
                        <li>Medium</li>
                        <li>Mozilla Developer Network</li>
                        <li>Stack Overflow</li>
                        <li>Team Treehouse</li>
                        <li>Tuts Plus</li>
                        <li>Udemy</li>
                        <li>WPSessions</li>
                        <li>YouTube</li>
                    </ul>

                    <button class="add-card-btn btn" @click="addNewCard()"> + Thêm thẻ mới</button>

                </div>

                <div class="list">

                    <h3 class="list-title">Công việc 2</h3>

                    <ul class="list-items">

                    </ul>

                    <button class="add-card-btn btn" @click="addNewCard()"> + Thêm thẻ mới</button>

                </div>

                <div class="list">

                    <h3 class="list-title">Công việc 3</h3>

                    <ul class="list-items">

                    </ul>

                    <button class="add-card-btn btn" @click="addNewCard()"> + Thêm thẻ mới</button>

                </div>

                <button class="add-list-btn btn">Thêm cột mới</button>

            </section>
            <!-- End of lists container -->

            <div class="modal fade p-0" id="workPopup">
                <div class="modal-dialog modal-100 modal-dialog-scrollable">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header py-1">
                            <div class="float-left">
                                <h5 class="modal-title">{{cardName}}</h5>
                            </div>
                            <div class="float-right flex-row">
                                <div class="color-picker flex-row">
                                    <p class="mr-2 m-auto">Nhãn màu: </p>
                                    <v-text-field v-mask="mask" hide-details class="ma-0 pa-0" solo style="max-width: 100px;" readonly>
                                        <template v-slot:append>
                                            <v-menu v-model="menuColor" top nudge-bottom="385" nudge-left="155"
                                                :close-on-content-click="false">
                                                <template v-slot:activator="{ on }">
                                                    <div :style="swatchStyle" v-on="on" />
                                                </template>
                                        <v-card>
                                            <v-card-text class="pa-0">
                                                <v-color-picker v-model="color" flat show-swatches hide-inputs />
                                            </v-card-text>
                                        </v-card>
                                        </v-menu>
                                        </template>
                                    </v-text-field>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" title="Đóng">&times;</button>
                            </div>

                        </div>

                        <!-- Modal body -->
                        <div class="modal-body pt-0">
                            <div class="">
                                <div class="row m-0">
                                    <div class="col-12 col-md-6">
                                        <!-- Thông tin cơ bản -->
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group mb-3">
                                                    <p class="font-weight-bold float-left mb-0">Công việc:</p>
                                                    </br>
                                                    <v-text-field v-model="cardName" :rules="rules" hide-details="auto">
                                                    </v-text-field>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group mb-0">
                                                    <p class="font-weight-bold float-left mb-0">Thuộc cột:</p><br>
                                                    <v-autocomplete v-model="column" :items="listColumn" :readonly=false no-data-text="Không có dữ liệu">
                                                    </v-autocomplete>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="description-card"><i class='fas fa-rainbow'></i> Mô tả</label>
                                            <textarea class="form-control" rows="5" id="description-card" name="description-card"></textarea>
                                        </div>
                                        <hr>
                                        <!-- Thông tin chi tiết  -->
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group mb-0">
                                                    <p v-if="completion==100" class="font-weight-bold float-left mb-0">
                                                        Tiến độ hoàn thành: <span class="text-primary">Hoàn thành</span>
                                                    </p>
                                                    <p v-else class="font-weight-bold float-left mb-0">Tiến độ hoàn thành:
                                                        <input type="number" min="0" max="100" v-model="completion">%
                                                    </p>
                                                    <br>
                                                    <input v-model="completion" type="range" class="custom-range" min="0" max="100">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <p class="font-weight-bold float-left mb-0">Ngày bắt đầu:</p><br>
                                                <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="dateStart" transition="scale-transition" offset-y min-width="auto">
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field v-model="dateStart" prepend-icon="mdi-calendar"
                                                            type="date" v-bind="attrs" v-on="on"
                                                            @input="$refs.menu.save(dateStart)">
                                                        </v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="dateStart" @input="$refs.menu.save(dateStart)" no-title scrollable locale="vi-CZ" next-icon="mdi-arrow-right" prev-icon="mdi-arrow-left" style="max-height: 400px">
                                                        <v-spacer></v-spacer>
                                                        <v-btn text color="primary" @click="menu = false">
                                                            Đóng
                                                        </v-btn>
                                                    </v-date-picker>
                                                </v-menu>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <p class="font-weight-bold float-left mb-0">Ngày kết thúc:</p><br>
                                                <v-menu ref="menu2" v-model="menu2" :close-on-content-click="false" :return-value.sync="dateEnd" transition="scale-transition" offset-y min-width="auto">
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field v-model="dateEnd" prepend-icon="mdi-calendar"
                                                            type="date" v-bind="attrs" v-on="on"
                                                            @input="$refs.menu2.save(dateEnd)">
                                                        </v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="dateEnd" @input="$refs.menu2.save(dateEnd)" no-title scrollable locale="vi-CZ" next-icon="mdi-arrow-right" prev-icon="mdi-arrow-left" style="max-height: 400px">
                                                        <v-spacer></v-spacer>
                                                        <v-btn text color="primary" @click="menu2 = false">
                                                            Đóng
                                                        </v-btn>
                                                    </v-date-picker>
                                                </v-menu>
                                            </div>
                                        </div>
                                        <hr>
                                        <div>
                                            <p><i class="far fa-user"></i> Thành viên</p>
                                            <v-autocomplete v-model="friends" :disabled="isUpdating" :items="people" chips item-text="name" item-value="name" multiple>
                                                <template v-slot:selection="data">
                                                    <v-chip v-bind="data.attrs" :input-value="data.selected" close
                                                        @click="data.select" @click:close="remove(data.item)"
                                                        color="primary">
                                                        <v-avatar left>
                                                            <v-img :src="data.item.avatar"></v-img>
                                                        </v-avatar>
                                                        {{ data.item.name }}
                                                    </v-chip>
                                                </template>
                                                <template v-slot:item="data">
                                                    <template v-if="typeof data.item !== 'object'">
                                                        <v-list-item-content v-text="data.item"></v-list-item-content>
                                                    </template>
                                                <template v-else>
                                                        <v-list-item-avatar>
                                                            <img :src="data.item.avatar">
                                                        </v-list-item-avatar>
                                                        <v-list-item-content>
                                                            <v-list-item-title v-html="data.item.name">
                                                            </v-list-item-title>
                                                            <v-list-item-subtitle v-html="data.item.group">
                                                            </v-list-item-subtitle>
                                                        </v-list-item-content>
                                                    </template>
                                                </template>
                                            </v-autocomplete>
                                        </div>
                                    </div>

                                    <!-- thông tin cột phải  -->
                                    <div class="col-12 col-md-6">
                                        <v-tabs>
                                            <v-tab>
                                                <v-icon left>
                                                    mdi-comment-multiple
                                                </v-icon>
                                                Bình luận
                                            </v-tab>
                                            <v-tab>
                                                <v-icon left>
                                                    mdi-file
                                                </v-icon>
                                                Tài liệu
                                            </v-tab>
                                            <v-tab>
                                                <v-icon left>
                                                    mdi-history
                                                </v-icon>
                                                Lịch sử
                                            </v-tab>

                                            <!-- tab bình luận -->
                                            <v-tab-item>
                                                <div class="my-comment mt-2">
                                                    <form class="mb-2">
                                                        <div class="form-group mb-2">
                                                            <textarea class="form-control" id="myCmt" rows="2" placeholder="Viết bình luận..."></textarea>
                                                        </div>
                                                        <button id="cmt" class="btn btn-primary">Bình
                                                            luận</button>
                                                    </form>
                                                </div>

                                                <div class="comment-list">
                                                    <div v-for="cmt in commentList" class="a-comment">
                                                        <img class="rounded-circle" :src="cmt.avatar" alt="my avatar" style="height: 40px">
                                                        <a class="link-profile-member"> {{cmt.userName}}</a>
                                                        <div class="comment">
                                                            <p>{{cmt.content}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <v-pagination v-model="pageComment" :length="lengthComment" :total-visible="5"></v-pagination>
                                                </div>
                                            </v-tab-item>

                                            <!-- tab tài liệu  -->
                                            <v-tab-item>
                                                <v-file-input chips multiple label="Tải tệp lên"></v-file-input>
                                                <div class="comment-list">
                                                    <div v-for="file in fileList" class="a-comment">
                                                        <img class="rounded-circle" :src="file.avatar" alt="my avatar" style="height: 40px">
                                                        <a class="link-profile-member"> {{file.userName}}</a>
                                                        <div class="file">
                                                            <a v-for="f in file.files" href="f">{{createFileName(f)}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <v-pagination v-model="pageFile" :length="lengthFile" :total-visible="6"></v-pagination>
                                            </v-tab-item>

                                            <!-- tab lịch sử  -->
                                            <v-tab-item>
                                                <v-timeline align-top dense>
                                                    <v-timeline-item color="primary" small>
                                                        <v-row class="pt-1">
                                                            <v-col cols="2">
                                                                <p class="text-caption">16:26:22 29/12/2021</p>
                                                            </v-col>
                                                            <v-col class="p-2">
                                                                <div class="text-caption">
                                                                    Nguyễn Kiên Trung Chỉnh sửa thông tin công việc theo vai trò người thực hiện. Tên công việc mới: Tạo UI ver2. Công việc cha mới: Tạo UI ver2.
                                                                </div>
                                                            </v-col>
                                                        </v-row>
                                                    </v-timeline-item>

                                                    <v-timeline-item color="primary" small>
                                                        <v-row class="pt-1">
                                                            <v-col cols="2">
                                                                <p class="text-caption">21:15:31 18/01/2022</p>
                                                            </v-col>
                                                            <v-col class="p-2">
                                                                <div class="text-caption">
                                                                    Nguyễn Kiên Trung Chỉnh sửa thông tin công việc theo vai trò người thực hiện. Mô tả công việc mới: Tạo card
                                                                </div>
                                                            </v-col>
                                                        </v-row>
                                                    </v-timeline-item>

                                                    <v-timeline-item color="primary" small>
                                                        <v-row class="pt-1">
                                                            <v-col cols="2">
                                                                <p class="text-caption">22:05:14 18/01/2022</p>
                                                            </v-col>
                                                            <v-col class="p-2">
                                                                <div class="text-caption">
                                                                    Nguyễn Kiên Trung Chỉnh sửa thông tin đánh giá công việc tháng 01-2022 theo vai trò người thực hiện. Ngày bắt đầu mới: 08:09 26/12/2021. Ngày kết thúc mới: 15:05 18/01/2022.
                                                                </div>
                                                            </v-col>
                                                        </v-row>
                                                    </v-timeline-item>
                                                </v-timeline>
                                            </v-tab-item>
                                        </v-tabs>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer py-1">
                            <button class="btn btn-primary">Lưu</button>
                            <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>

                    </div>
                </div>
            </div>
        </v-app>
    </div>
</body>

<script src="/vue/vue.js"></script>
<script src="/vue/vuetify.js"></script>
<script src="main.js"></script>

</html>